@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

:root {
  --primary-title-color: rgba(17, 21, 24, 1);
  --secondary-text-color: rgba(185, 185, 185, 1);
  --accent-color: rgba(255, 107, 9, 1);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --card-item: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--secondary-text-color);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.08em;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1366px) {
  .container {
    width: 1366px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-item {
  -ms-flex-preferred-size: calc(100% / var(--card-item) - 30px);
      flex-basis: calc(100% / var(--card-item) - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.how_we_do-wrapper {
  display: block;
  padding-top: 32px;
  padding-right: 7px;
  padding-left: 7px;
  max-width: 280px;
  min-height: 280px;
  -webkit-box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.how_we_do-wrapper:hover, .how_we_do-wrapper:focus {
  background-color: var(--accent-color);
}

.how_we_do-title {
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.how_we_do-subtitle {
  text-align: center;
  color: var(--primary-title-color);
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  margin-bottom: 20px;
}

.how_we_do-wrapper:hover .how_we_do-subtitle,
.how_we_do-wrapper:focus .how_we_do-subtitle {
  color: #ffffff;
  -webkit-transition: color 500ms linear;
  transition: color 500ms linear;
}

.how_we_do-subtitle::after {
  display: block;
  content: '';
  width: 20px;
  height: 2px;
  background-color: var(--accent-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.how_we_do-icon {
  display: block;
  fill: var(--accent-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.how_we_do-wrapper:hover .how_we_do-icon,
.how_we_do-wrapper:focus .how_we_do-icon {
  fill: #ffffff;
  -webkit-transition: fill 500ms linear;
  transition: fill 500ms linear;
}

.how_we_do .card-item {
  display: block;
}

.how_we_do-description {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}

.how_we_do-wrapper:hover .how_we_do-description,
.how_we_do-wrapper:focus .how_we_do-description {
  color: #ffffff;
  -webkit-transition: color 500ms linear;
  transition: color 500ms linear;
}

@media screen and (min-width: 768px) {
  .how_we_do-icon {
    margin-bottom: 32px;
  }
  .how_we_do-title {
    font-size: 26px;
    line-height: 1.3;
  }
  .how_we_do-wrapper {
    padding-top: 40px;
    padding-left: 14px;
    padding-right: 14px;
    max-width: 336px;
    min-height: 336px;
  }
  .how_we_do .card-item {
    --card-item: 2;
  }
}

@media screen and (min-width: 1680px) {
  .how_we_do-icon {
    margin-bottom: 32px;
  }
  .how_we_do-title {
    font-size: 46px;
    text-align: start;
  }
  .how_we_do-wrapper {
    padding-top: 90px;
    padding-left: 82px;
    padding-right: 82px;
    max-width: 520px;
    min-height: 492px;
  }
  .how_we_do .card-item {
    --card-item: 3;
  }
  .how_we_do-description {
    font-size: 18px;
    line-height: 1.56;
  }
}
/*# sourceMappingURL=main.css.map */