:root {
  --primary-title-color: #111518;
  --secondary-accent-title-color: #ffffff;
  --secondary-text-color: rgba(185, 185, 185, 1);
  --accent-color: rgba(255, 107, 9, 1);

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --card-item: 1;

  //   --secondary-background-color: #f5f4fa;
  //   --footer-background-color: #2f303a;

  //   --primary-color: rgba(255, 255, 255, 1);

  //   --client-link: #afb1b8;
  //   --footer-accent-background-color: rgba(255, 255, 255, 0.1);

  //   --border-contact-form: rgba(33, 33, 33, 0.2);
  //   --hero-gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
}
