<section class="about section">
    <div class="about-container container">
        <h2 class="about-title">Teacher</h2>
        <div class="about-description">
            <picture class="teacher-photo">
                <source srcset="./images/teacher-desktop.webp 1x, ./images/teacher-desktop@2x.webp 2x" media="(min-width: 1680px)"
                    type="image/webp" />
                <source srcset="./images/teacher-desktop.jpg 1x, ./images/teacher-desktop@2x.jpg 2x" media="(min-width: 1680px)"
                    type="image/jpeg" />
                <source srcset="./images/teacher-nodesktop.webp 1x, ./images/teacher-nodesktop@2x.webp 2x" media="(max-width: 1679px)"
                    type="image/webp" />
                <source srcset="./images/teacher-nodesktop.jpg 1x, ./images/teacher-nodesktop@2x.jpg 2x" media="(max-width: 1679px)"
                    type="image/jpeg" />
                <img src="./images/teacher-nodesktop.jpg" alt="teacher's photo" width="242" height="306">
            </picture>
            <div>
                <h3 class="name-title">Elena Morozova</h3>
                <ul class="about-advantages-list list">
                    <li class="about-advantages-item">
                        <p class="about-advantages-text">6 yeards of experience in preparing students for UPE</p>
                        </li>
                    <li class="about-advantages-item">
                        <p class="about-advantages-text">Own result of passing VNO - 197 points 2 years in a row</p>
                        </li>
                    <li class="about-advantages-item">
                        <p class="about-advantages-text">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)</p>
                        </li>
                </ul>
                <p>Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.
                In spare time takes courses from the best universities in the world on effective teaching and essay writing techniques.Completed:
                English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), How to Write an
                Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for
                Teaching and Learning (University of Houston).</p>
                <a href="">Cambrige English Entry Level Certificate</a>
            </div>
        </div>
    </div>
</section>