<section class="section benefits">
  <div class="container">
   <div class="benefits-title">
        <h2 class="benefits-section-title">Why do people choose us</h2>
   </div>

    <div class="our-benefits">
      <ul class="card-set benefits-list list">
        <li class="card-item counter-card">
          <p class="benefits-thumb">Training in small groups</p>
        </li>
        <li class="card-item counter-card">
          <p class="benefits-thumb">Rendered notes</p>
        </li>
        <li class="card-item counter-card">
          <p class="benefits-thumb">Each lesson has a goal and a specific result</p>
        </li>
          </li>
        <li class="card-item counter-card">
          <p class="benefits-thumb">The real results of the teacher</p>
        </li>  </li>
        <li class="card-item counter-card">
          <p class="benefits-thumb">The course program meets the requirements of the MES of Ukraine</p>
        </li>  </li>
        <li class="card-item counter-card">
          <p class="benefits-thumb">Set of groups by level of knowledge</p>
        </li>
      </ul>
    </div>
    </div>
  
</section>
