<section class="section benefits">
  <div class="container">
    
        <h2 class="section-title">Benefits</h2>

    
      <ul class="card-set benefits-list list">
        <li class="card-item counter-card">
          <p class="problems-thumb">Training in small groups</p>
        </li>
        <li class="card-item counter-card">
          <p class="problems-thumb">Rendered notes</p>
        </li>
        <li class="card-item counter-card">
          <p class="problems-thumb">Each lesson has a goal and a specific result</p>
        </li>
          </li>
        <li class="card-item counter-card">
          <p class="problems-thumb">The real results of the teacher</p>
        </li>  </li>
        <li class="card-item counter-card">
          <p class="problems-thumb">The course program meets the requirements of the MES of Ukraine</p>
        </li>  </li>
        <li class="card-item counter-card">
          <p class="problems-thumb">Set of groups by level of knowledge</p>
        </li>
      </ul>
    </div>
  
</section>
