<section class="contacts">
    <div class="container">
        <h2 class="contacts__title">
            Registartion for a <span class="contacts__accent">free</span>
            phone <span class="contacts__accent">consultation</span>
            on
            the nuances of
            English UPE
        </h2>
        <p class="contacts__text">Leave a request for participation
            in a
            <span class="contacts__accent">free lesson</span>.
            A consultant will contact you and answer your questions</p>
        <form class="contacts__form">
            <input class="contacts__input"
                type="text"
                placeholder="Name*"

                pattern=""
                title="Please enter your name with latin letters">
            <input class="contacts__input"
                type="tel" placeholder="Phone*"
                name="phone"



                minlength="13"
                maxlength="13"
                title="+380667777777"
                />
            <button class="modal__btn contacts__btn" type="submit">
                i want a free lesson
            </button>
        </form>
    </div>
</section>