<footer class="footer" id="contacts">
  <div class="container footer__container">
    <div class="position">
      <div class="logo footer__logo">
        <img src="./images/logo-1x.png" alt="our-logo" width="128" />
     
     
      </div>
      <a href="tel:+38(000)0000000" class="link-tel  mobile-current:">
        <svg class="tel__svg-icon" width="20" height="19">
          <use href="./images/icons.svg#icon-Group"></use>
        </svg>
        +38 (000) 000 00 00
      </a>

      <div class="grad"><svg class="instagram-icon" width="40" height="40">
        <use href="./images/icons.svg#icon-instagram-1"></use>
      </svg>
    </div>
    </div>
  </div>
  <div class="backgraund">
    <p class="copyright">@ All rights reserved, 2019</p>
  </div>
</footer>
