<footer class="footer" id="contacts">
  <div class="container footer__container">
      <div class="logo footer__logo">
        <img src="./images/logo-2x.png" alt="our-logo" width="128" />
      </div>
      <div class="footer-contacts">
         <div class="rev">
          <a href="tel:+380000000000" class="link-tel">
            <svg class="tel__svg-icon" width="20" height="19">
              <use href="./images/icons.svg#icon-Group"></use>
            </svg>
            +38 (000) 000 00 00
          </a>
          </div>
         <div class="div-insta">
          <a href="https://www.instagram.com" target="blank" rel="noreferre noopener" class="insta">
            <img src="./images/instagram.svg" alt="instagram" width="40"  height="40"/>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="backgraund">
    <p class="copyright">@ All rights reserved, 2019</p>
  </div>
</footer>
