<header class="header">
  <div class="container header__container">
    <div class="logo header__logo">
      <img src="./images/logo-2x.png" alt="our-logo" width="128" height="45" />
    </div>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#studying program" class="navigation__link">studying program</a>
        </li>
        <li class="navigation__item">
          <a href="#about" class="navigation__link">about</a>
        </li>
        <li class="navigation__item">
          <a href="#training options" class="navigation__link">training options</a>
        </li>
        <li class="navigation__item">
          <a href="#contacts" class="navigation__link">contacts</a>
        </li>
      </ul>
    </nav>

    <button type="submit" class="submit-header">
      <a href="" class="submit-link">consultation by phone</a>
    </button>

    <button type="button" class="mobile-menu-btn" data-menu-open>
      <svg class="mobile-menu-item" width="31" height="32">
        <use href="./images/icons.svg#index-menu-item"></use>
      </svg>
    </button>
  </div>
</header>

<div class="mobile-menu" data-menu>
  <div class="mobile-menu__container">
    <button class="mobile-menu__close-btn" data-menu-close>
      <svg class="mobile-menu__close-icon" width="40" height="40">
        <use href="./images/icons.svg#icon-close-mobile"></use>
      </svg>
    </button>

    <div class="logo mobile__logo">
      <img src=".//images/logo-ligtn-1x.png" alt="our-logo" width="128" />
    </div>

    <ul class="navigation-list-mobile">
      <li class="navigation-list-mobile__item">
        <a href="#studying program" class="navigation-list-mobile__link">Studying program</a>
      </li>
      <li class="navigation-list-mobile__item">
        <a href="#about" class="navigation-list-mobile__link">About</a>
      </li>
      <li class="navigation-list-mobile__item">
        <a href="#training options" class="navigation-list-mobile__link">Training options</a>
      </li>
      <li class="navigation-list-mobile__item">
        <a href="#contacts" class="navigation-list-mobile__link">Contacts</a>
      </li>
    </ul>

    <button type="submit" class="submit submit-mobile">
      <a href="" class="submit submit-mobile__link">consultation by phone</a>
    </button>
  </div>
</div>
