<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css" integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g==" crossorigin="">
    <link rel="stylesheet" href="/src/sass/main.css">
</head>
<body>
    <section class="how_we_do">
        <h2 class="how_we_do-title">How do we do it</h2>
        <div class="container">
    <ul class="how_we_do-list card-set list">
        <li class="how_we_do-item card-item">
            <div class="how_we_do-wrapper">
            <svg class="how_we_do-icon" width="46" height="48">
            <use href="../images/sprite.svg#study-program"></use>
        </svg>
        <h3 class="how_we_do-title">Adapted program preparation for UPE</h3>
        <p class="how_we_do-description">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
    </div></li>
        <li class="how_we_do-item card-item">
            <div class="how_we_do-wrapper">
            <svg class="how_we_do-icon" width="48" height="48">
            <use href="../images/sprite.svg#mobile-learning"></use>
        </svg>
        <h3 class="how_we_do-title">Classroom and online learning</h3>
        <p class="how_we_do-description">The teacher will help not only in the classroom, but also during home preparation.
            Parents can chat if they wish.</p>
    </div></li>
        <li class="how_we_do-item card-item">
            <div class="how_we_do-wrapper">
            <svg class="how_we_do-icon" width="68" height="48">
            <use href="../images/sprite.svg#open-book"></use>
        </svg>
        <h3 class="how_we_do-title">The habit of reading in English</h3>
        <p class="how_we_do-description">Articles from sources that are used in the development of this UPE will be received by phone twice a week.
        </p>
    </div></li>
        <li class="how_we_do-item card-item">
            <div class="how_we_do-wrapper">
            <svg class="how_we_do-icon" width="48" height="48">
            <use href="../images/sprite.svg#group"></use>
        </svg>
        <h3 class="how_we_do-title">Psychological support</h3>
        <p class="how_we_do-description">We will teach you testing techniques, the ability to plan your confidence training
            in itself.</p>
    </div></li>
        <li class="how_we_do-item card-item">
            <div class="how_we_do-wrapper">
            <svg class="how_we_do-icon" width="40" height="48">
            <use href="../images/sprite.svg#female-student"></use>
        </svg>
        <h3 class="how_we_do-title">Training on copyright manuals</h3>
        <p class="how_we_do-description">You don't have to waste your time
            on a search for material and to buy anything extra. We have compiled
            2 manuals for you.</p>
    </div></li>
        <li class="how_we_do-item card-item">
            <div class="how_we_do-wrapper">
            <svg class="how_we_do-icon" width="58" height="48">
            <use href="../images/sprite.svg#audio-book"></use>
        </svg>
        <h3 class="how_we_do-title">Ability to comprehend spoken English</h3>
        <p class="how_we_do-description">“F.R.I.E.N.D.S” won't help you. You will listen regularly
            and analyze audio recordings
            in accordance with the studied vocabulary.</p>
    </div></li>
    </ul>
</div>
</section>
</body>
</html>