<section class="how_we_do">
  <div class="container">
    <h2 class="how_we_do-title">How do we do it</h2>

    <ul class="how_we_do-list card-set list">
      <li class="how_we_do-item card-item">
        <a href="" class="how_we_do-link link">
          <div class="how_we_do-wrapper">
            <svg class="how_we_do-icon" width="46" height="48">
              <use href="../images/sprite.svg#study-program"></use>
            </svg>
            <h3 class="how_we_do-subtitle">Adapted program preparation for UPE</h3>
            <p class="how_we_do-description">
              You will learn grammar and vocabulary at the same time. And you will learn how to
              write essays.
            </p>
          </div></a
        >
      </li>
      <li class="how_we_do-item card-item">
        <a href="" class="how_we_do-link link">
          <div class="how_we_do-wrapper">
            <svg class="how_we_do-icon" width="48" height="48">
              <use href="../images/sprite.svg#mobile-learning"></use>
            </svg>
            <h3 class="how_we_do-subtitle">Classroom and online learning</h3>
            <p class="how_we_do-description">
              The teacher will help not only in the classroom, but also during home preparation.
              Parents can chat if they wish.
            </p>
          </div></a
        >
      </li>
      <li class="how_we_do-item card-item">
        <a href="" class="how_we_do-link link">
          <div class="how_we_do-wrapper">
            <svg class="how_we_do-icon" width="68" height="48">
              <use href="../images/sprite.svg#open-book"></use>
            </svg>
            <h3 class="how_we_do-subtitle">The habit of reading in English</h3>
            <p class="how_we_do-description">
              Articles from sources that are used in the development of this UPE will be received by
              phone twice a week.
            </p>
          </div></a
        >
      </li>
      <li class="how_we_do-item card-item">
        <a href="" class="how_we_do-link link">
          <div class="how_we_do-wrapper">
            <svg class="how_we_do-icon" width="48" height="48">
              <use href="../images/sprite.svg#group"></use>
            </svg>
            <h3 class="how_we_do-subtitle">Psychological support</h3>
            <p class="how_we_do-description">
              We will teach you testing techniques, the ability to plan your confidence training in
              itself.
            </p>
          </div></a
        >
      </li>
      <li class="how_we_do-item card-item">
        <a href="" class="how_we_do-link link">
          <div class="how_we_do-wrapper">
            <svg class="how_we_do-icon" width="40" height="48">
              <use href="../images/sprite.svg#female-student"></use>
            </svg>
            <h3 class="how_we_do-subtitle">Training on copyright manuals</h3>
            <p class="how_we_do-description">
              You don't have to waste your time on a search for material and to buy anything extra.
              We have compiled 2 manuals for you.
            </p>
          </div></a
        >
      </li>
      <li class="how_we_do-item card-item">
        <a href="" class="how_we_do-link link">
          <div class="how_we_do-wrapper">
            <svg class="how_we_do-icon" width="58" height="48">
              <use href="../images/sprite.svg#audio-book"></use>
            </svg>
            <h3 class="how_we_do-subtitle">Ability to comprehend spoken English</h3>
            <p class="how_we_do-description">
              “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings
              in accordance with the studied vocabulary.
            </p>
          </div></a
        >
      </li>
    </ul>
  </div>
</section>
