<!-- start section PROBLEMS -->

<section class="section problems">
  <div class="container">
    <div class="problems-title">
        <h2 class="section-title">problems of students</h2>
    <h3 >   The main problems of students in English UPE, which we <span class="title-accent">help</span> to solve
    </h3>
</div>
    <div>
      <ul class="card-set problems-list list">
        <li class="card-item problems-card">
          <p class="problems-thumb">Grammar</p>
        </li>
        <li class="card-item problems-card">
          <p class="problems-thumb">Inability to understand spoken English</p>
        </li>
        <li class="card-item problems-card">
          <p class="problems-thumb">Stingy vocabulary for writing an essay</p>
        </li>
          </li>
        <li class="card-item problems-card">
          <p class="problems-thumb">Preparing alone</p>
        </li>  </li>
        <li class="card-item problems-card">
          <p class="problems-thumb">Lack of a single knowledge resource</p>
        </li>  </li>
        <li class="card-item problems-card">
          <p class="problems-thumb">Lack of self-organization and laziness</p>
        </li>
      </ul>
    </div>
  </div>
</section>
