<section class="program">
    <div class="container program-container">
    <h2 class="title">Our program</h2>

    <div class="border">
        <ul class="program__list list">
            <li class="program__list-item">
                <h3 class="subtitle">1 semester</h3>
                <ul class="list-picture list">
                    <li class="ul-li">
                        <h3 class="grammar">Grammar</h3>
                        <ul class="list">
                            <li class="description">Nouns & Articles </li>
                            <li class="description">Adjectives & Adverb</li>
                        </ul>
                    </li>
                    <li class="ul-li">
                        <h3 class="grammar">Vocabulary</h3>
                        <ul class="list">
                            <li class="description">Family & Relations</li>
                            <li class="description">People & Society</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program__list-item">
                <h3 class="subtitle">2 semester</h3>
                <ul class="list">
                    <li class="ul-li">
                        <h3 class="grammar">Grammar</h3>
                        <ul class="list">
                            <li class="description">Pronouns</li>
                            <li class="description">Active Voice</li>
                            <li class="description">Passive Voice</li>
                        </ul>
                    </li>
                    <li class="ul-li">
                        <h3 class="grammar">Vocabulary</h3>
                        <ul class="list">
                            <li class="description">Home</li>
                            <li class="description">School</li>
                            <li class="description">Work</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program__list-item">
                <h3 class="subtitle">3 semester</h3>
                <ul class="list">
                    <li class="ul-li">
                        <h3 class="grammar">Grammar</h3>
                        <ul class="list">
                            <li class="description">Modal verbs</li>
                            <li class="description">Infinitive</li>
                            <li class="description">Gerund</li>
                            <li class="description">Participle: 1, 2</li>
                        </ul>
                    </li>
                    <li class="ul-li">
                        <h3 class="grammar">Vocabulary</h3>
                        <ul class="list">
                            <li class="description">Travel & Tourism</li>
                            <li class="description">Culture & Free Time</li>
                            <li class="description">Sport</li>
                        </ul>
                    </li>
                    <li class="ul-li">
                        <h3 class="grammar">Writing</h3>
                        <ul class="list">
                            <li class="description">Informal Letter</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program__list-item">
                <h3 class="subtitle">4 semester</h3>
                <ul class="list">
                    <li class="ul-li">
                        <h3 class="grammar">Grammar</h3>
                        <ul class="list">
                            <li class="description">Clauses: Conditional and Wishes</li>
                            <li class="description">Direct / Reported speech</li>
                            <li class="description">Preposition</li>
                            <li class="description">Conjunction</li>
                            <li class="description">Numeral</li>
                        </ul>
                    </li>
                    <li class="ul-li">
                        <h3 class="grammar">Vocabulary</h3>
                        <ul class="list">
                            <li class="description">Healthy Living</li>
                            <li class="description">Nature & Environment</li>
                            <li class="description">Money</li>
                        </ul>
                    </li>
                    <li class="ul-li">
                        <h3 class="grammar">Writing</h3>
                        <ul class="list">
                            <li class="description">Formal Letter</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program__list-item">
                <h3 class="subtitle">5 semester</h3>
                <ul class="list">
                    <li class="ul-li">
                        <h3 class="grammar">&nbsp;</h3>
                        <ul class="list">
                            <li class="description">Revision</li>
                            <li class="description">Tests</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</section>