.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 27px;
  @include mq(mobile) {
    width: 480px;
  }
  @include mq(tablet-only) {
    width: 768px;
    flex-direction: row;
  }
  @include mq(desktop) {
    width: 1680px;
    flex-direction: row;
  }
}

.footer__logo {
  @include mq(mobile-only) {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  @include mq(tablet) {
  }
  @include mq(desktop) {
  }
}
.footer-contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  @include mq(tablet) {
    flex-direction: row;
    width: 448px;
  }
  @include mq(desktop) {
    margin-right: 596px;
  }
}
.rev {
  position: relative;
  @include mq(mobile-only) {
    margin-bottom: 20px;
  }
}
.link-tel {
  color: #111518;
  @include mq(mobile-only) {
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.08em;
  }
  @include mq(tablet) {
    margin-right: 40px;
    font-size: 20px;
  }
  @include mq(desktop) {
    font-size: 30px;
  }
}
.link-tel::after {
  @include mq(tablet) {
    position: absolute;
    border: 1px solid #b9b9b9;
    transform: rotate(90deg);
    background-color: #e5e5e5;
    top: 20px;
    left: 370px;
    content: '';
    width: 40px;
    height: 0px;
  }
}
.tel__svg-icon {
  @include mq(tablet) {
    margin-right: 8px;
  }
}

.div-insta {
  margin-bottom: 53px;
  border-radius: 20%;
  background: radial-gradient(
    110.28% 110.28% at 20.5% 87.39%,
    #fae100 0%,
    #fadc04 5.44%,
    #fbce0e 11.67%,
    #fcb720 18.29%,
    #fe9838 25.14%,
    #ff7950 30.54%,
    #ff1c74 49.22%,
    #6c1cd1 100%
  );
  @include mq(mobile-only) {
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(tablet-only) {
  }
  @include mq(desktop) {
  }
}

.backgraund {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  text-align: center;
  background-color: #111518;
  @include mq(mobile-only) {
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(tablet-only) {
  }
  @include mq(desktop) {
  }
}
.copyright {
  color: #b9b9b9;
  margin-left: auto;
  margin-right: auto;
  @include mq(mobile-only) {
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.08em;
  }
  @include mq(tablet) {
    font-weight: 500;
  }
  @include mq(desktop) {
  }
}
