.container {
  padding: 15px;
}
.header__container {
  position: absolute;
  display: flex;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  @include mq(mobile-only) {
    width: 480px;
  }
  @include mq(tablet-only) {
    width: 768px;
  }
  @include mq(desktop) {
    width: 1680px;
  }
}

.logo {
  width: 80px;
  height: 29px;
  @include mq(tablet) {
    width: 128px;
    height: 45px;
  }
}
.header__logo {
  margin-right: auto;
  @include mq(desktop) {
    margin-right: 456px;
  }
}
.navigation__list {
  display: flex;

  @include mq(no-desktop) {
    display: none;
  }

  & .navigation__item {
    margin-right: 40px;
  }
}

.navigation__link {
  position: relative;
  display: inline-block;
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #b9b9b9;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: #ff6b09;
  }
}

.submit-header {
  width: 260px;
  height: 48px;
  margin-right: 40px;
  border: 2px solid #ff6b09;
  background-color: transparent;
  @include mq(mobile-only) {
    display: none;
  }
  @include mq(desktop) {
    width: 336px;
    height: 70px;
  }
}
.submit-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #ff6b09;
  width: 240px;
  @include mq(desktop) {
    width: 336px;
  }
}

.mobile-menu-btn {
  @include mq(no-desktop) {
    color: inherit;
    border: none;
    padding: 0;
    line-height: 0;
    background-color: transparent;
  }
}

.mobile-menu-item {
  @include mq(no-desktop) {
    fill: #000000;
  }
}

.mobile-menu-btn {
  @include mq(desktop) {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100vh;
  background: rgba(17, 21, 24, 0.9);
  transition: 250ms linear, visibility 250ms;
  @include mq(desktop) {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.mobile-menu__close-btn {
  position: absolute;
  top: 46px;
  right: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  fill: #ffffff;

  &:hover,
  &:focus,
  &:active {
    fill: #ff6b09;
  }
}

.mobile__logo {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: auto;
}
.navigation-list-mobile {
  @include mq(tablet-only) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}

.navigation-list-mobile__item:not(:last-child) {
  margin-bottom: 10px;
}

.navigation-list-mobile__item {
  margin-left: auto;
  margin-right: auto;
}

.navigation-list-mobile__link {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #b9b9b9;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: #ff6b09;
  }

  @include mq(tablet) {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.8;
    letter-spacing: 0.03em;
  }
}

.navigation-list-mobile__link:hover,
.navigation-list-mobile__link:focus,
.navigation-list-mobile__link:active {
  color: #ff6b09;
  cursor: pointer;
}

.submit-mobile {
  display: inline-block;
  width: 280px;
  height: 48px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ff6b09;
  background-color: transparent;
  align-items: center;
  @include mq(tablet) {
    display: none;
  }
}
.submit-mobile__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #ff6b09;
  width: 100%;
}
