.reviews {
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (mix-width: 1680px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.reviews__title {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-align: center;

    color: #111518;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
        font-size: 26px;
    }

    @media screen and (min-width: 1680px) {
        font-size: 46px;
    }
}

.reviews__article {
    position: relative;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        margin: 0 auto;
        margin-bottom: 20px;
        display: flex;
        width: 704px;
        padding-left: 50px;
        padding-right: 80px;
        padding-top: 40px;
        padding-bottom: 40px;
        background: #FFFFFF;
        box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    }

    @media screen and (min-width: 1680px) {
        width: 1088px;
        margin-bottom: 40px;
        padding-left: 80px;
        padding-right: 110px;
    }
}

.reviews__img-box {
    @media screen and (min-width: 768px) {
        margin-right: 42px;
    }

}

.reviews__wrap {
    @include mq(tablet) {
        width: 400px;
    }

    @include mq(desktop) {
        width: 700px;
    }
}

.reviews__subtitle {
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;
    text-align: center;

    color: #FF6B09;

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
        text-align: left;
        font-size: 20px;
    }

    @media screen and (min-width: 1680px) {
        margin-bottom: 8px;
        font-size: 14px;
    }
}

.reviews__descr {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;

    color: #B9B9B9;

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
        font-size: 12px;
        text-align: left;
    }

    @media screen and (min-width: 1680px) {
        font-size: 14px;
    }
}

.reviews__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: #3D3D3D;

    @media screen and (min-width: 1680px) {
        font-size: 18px;
        text-align: left;
    }

}

.read-more {
    color: var(--accent-color);
    cursor: pointer;

}

.reviews__main-img {

    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 150px;

    @media screen and (max-width: 767px) {
        margin-bottom: 24px;
    }

}

.reviews__vk {
    margin-bottom: 24px;
    text-align: center;
}

.reviews__icon {
    fill: #436EAB;
}

.reviews__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.reviews__member {
    @media screen and (max-width: 767px) {
        &+& {
            margin-left: 12px;
        }
    }

    @media screen and (min-width: 768px) {
        &+& {
            margin-left: 32px;
        }
    }

    @media screen and (min-width: 1680px) {
        &+& {
            margin-left: 40px;
        }
    }
}


.reviews__mobile {


    @media screen and (min-width: 768px) {
        display: none;
    }
}

.hide-on-mobile {

    @media screen and (max-width: 767px) {
        display: none;
    }

}

.arrow-prev {
    position: absolute;

    @media screen and (max-width: 767px) {
        top: 20px;
        left: 0;
    }

    @media screen and (min-width: 768px) {
        top: 160px;
        left: 5px;
    }

    @media screen and (min-width: 1680px) {
        top: 160px;
        left: -40px;
    }

}

.arrow-next {
    position: absolute;

    @media screen and (max-width: 767px) {
        top: 20px;
        right: 0;
    }

    @media screen and (min-width: 768px) {
        top: 160px;
        right: 5px;
    }

    @media screen and (min-width: 1680px) {
        top: 160px;
        right: -40px;
    }
}


.reviews__btn-next {
    fill: var(--accent-color);
}

.reviews__mobile-only {
    position: relative;

    @media screen and (min-width: 767px) {
        display: none;
    }
}